<h1><%= @restaurant.name %></h1>
<%= @restaurant.address %>
<% @restaurant.reviews.each do |r| %>
<%= r.content %> <%= r.rating %>
<% end %>

<%= link_to "Donne ton avis", new_restaurant_review_path(@restaurant) %>
